body {
  background-color: #cde990;
}

h1 {
  text-align: center;
  letter-spacing: 0.3rem;
  padding-top: 100px;
}

.container {
  padding: 2rem;
}

label {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  height: 75px;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

input[type="submit"] {
  background-color: #473c33;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  border-radius: 0.5rem;
}

input[type="submit"]:hover {
  background-color: #9ea1d4;
}

@media screen and (max-width: 600px) {
  #input-text,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
